html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background: url(/images/bodyBackground.jpg);
}

/*ESTILOS GLOBALES (TEXTO Y NAVEGACIÓN)*/
* {
  color: #fff;
  font-family: 'Ysabeau', sans-serif;
  scroll-margin-top: 64px;
  scrollbar-width: none;
  scrollbar-color: #d750ff #000;
}

*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-thumb {
  background-color: #f4206900;
}
*::-webkit-scrollbar-track {
  background-color: #d750ff;
}

a {
  text-decoration: none;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/*NAV*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vw/28);
  /*max-height: 48px;*/
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  z-index: 999;
}
nav * {
  user-select: none;
}

.icon {
  height: 80%;
  max-height: 25.6px;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}

/*FEATURED*/
#screenWide {
  position: fixed;
  top: -200%;
  width: 100vw;
  height: 100vh;
  z-index: 799;
  background-color: #00000033;
}
#screenWide.show {
  top: 0;
}
#Featured {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  max-height: 80%;
  aspect-ratio: 16/9;
  top: -200%;
  border-radius: 10px;
  justify-content: center;
  align-content: start;
  overflow: hidden;
  background-color: #000;
  transition: all 0.3s ease;
  z-index: 800;
}
@media(max-width:720px){
  #Featured {
    height: unset;
    max-height: unset;
    width: 100%;
    max-width: 70%;
    aspect-ratio: 2/3;
  }
}
#Featured.show {
  top: 48px;
}

#Featured button {
  font-size: 1.5rem;
  font-family: 'Fira Code';
  font-weight: bold;
  color: #000;
  position: absolute;
  bottom: 1rem;
  padding-inline: 10px;
  padding-block: 5px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  z-index: 801;
}

/*ASIDES*/
#cookies {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  max-width: 80vw;
  max-height: 280px;
  bottom: 1.5rem;
  border-radius: 10px;
  justify-content: center;
  align-content: start;
  overflow: hidden;
  background-color: #202020cc;
  backdrop-filter: blur(3px);
  transition: all 0.3s ease;
  z-index: 999;
}
@media (max-width: 768px) {
  #cookies {
    bottom: 4rem;
  }
}

#cookies.hideCookie {
  transform: translateY(200%);
}

#cookies * {
  font-family: 'Fira Code';
}

#cookies h1 {
  color: #d750ff;
  font-size: 2rem;
  display: flex;
  height: 2rem;
  justify-content: center;
}

@media (max-width: 768) {
  .cookieDiv {
    display: block;
  }
}

#cookies div {
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
}

#cookies p, #cookies img {
  width: 45%;
}

#cookies img {
  aspect-ratio: 3/1;
}

.reject, .accept {
  width: 30%;
  border: none;
  border-radius: 20px;
  aspect-ratio: 21/9;
  margin: 5px;
}

.reject {
  background-color: #cc0044;
}
.reject:hover {background-color: #ee2266;}
.reject:active {background-color: #ff5599;}

.accept {
  background-color: #0044cc;
}
.accept:hover {background-color: #2266ee;}
.accept:active {background-color: #5599ff;}

#text_cookiesInfo, #text_cookiesInfoNt {
  color: #ff0;
  font-size: 0.8rem;
  cursor: pointer;
  margin: 3px;
}

#ck1.cock, #ck2.cock, #ck3.cock, #ck4.cock {
  display: none;
}

#Navegar, #Lang {
  color: #303;
  position: fixed;
  padding: 10px;
  overflow: auto;
  background-color: #000;
  border-radius: 10px;
  z-index: 998;
}
#Navegar *, #Lang * {
  color: #d750ff;
  font-weight: bold;
}
#Navegar h2, #Lang h2 {
  line-height: 0;
}
#Navegar a:hover, #Lang a:hover {
  text-decoration: underline;
}

#Navegar {
  right: -52%;
  top: 60px;
  width: 42%;
  max-width: 240px;
  transition: 0.5s all ease;
}
#Navegar.move {
  right: 10px;
  /*animation: brillar 1.2s ease;*/
}

#Lang {
  left: -52%;
  top: 60px;
  width: 30%;
  max-width: 144px;
  transition: 0.5s all ease;
}
#Lang.move {
  left: 10px;
  /*animation: brillar 1.2s ease;*/
}
#Lang a {
  cursor: pointer;
}

.langActive {
  background-color: #555;
  border-radius: 50%;
}

.menuActive {
  background-color: #555;
  border-radius: 10%;
}

/*FOOTER*/
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 3rem;
  padding-bottom: 6rem;
  aspect-ratio: 10/1;
  background-color: #313;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
footer section {
  width: 180px;
}

footer a {
  display: flex;
  align-content: center;
}
footer a:hover {
  text-decoration: underline;
}

footer span {
  display: flex;
  font-family: 'Fira Code';
}

footer img {
  width: 20px;
  height: 20px;
}

#logo {
  transition: all 0.3s ease-in-out;
}
#heart {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#pent {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#svg:hover #logo {
  visibility: hidden;
  opacity: 0;
}
#svg:hover #heart {
  visibility: visible;
  opacity: 1;
}
#svg:active #heart {
  opacity: 0;
}
#svg:active #pent {
  visibility: visible;
  opacity: 1;
}

/*UNDER CONSTRUCTION*/
.mainUnderCons {
  position: fixed;
  display: flex;
  bottom: 0.5rem;
  width: 70%;
  max-width: 320px;
  justify-content: center;
  background-color: #33003388;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  z-index: 999;
}

.mainUnderCons p {
  font-size: 1.5rem;
  position: absolute;
  padding: 5px;
  background-color: #ff50d7bb;
  backdrop-filter: blur(0px);
  border-radius: 10px;
  bottom: 1rem;
}

.mainUnderCons img {
  width: 100%;
  aspect-ratio: 9/16;
  border-radius: 20px;
}