nav {
	position: fixed;
	display: flex;
	top: 0; left: 0; right: 0;
	height: 2rem;
	padding-inline: 1rem;
	padding-top: 3px;
	background-color: #000;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
	
	anchor-name: --navBar;
}

.icon {
	height: 80%;
	cursor: pointer;
}

/*ASIDE------------------------------------------------------------------------------------*/
#menu, #lang {
	position: fixed;
	top: 3rem;
	padding-block: 0.5rem;
	padding-inline: 1rem;
	background-color: #000;
	box-shadow: 0 0 10px #222;
	border-radius: 0.5rem;
	transition: all 0.2s ease;
	z-index: 800;
}

#lang {left: -100%;}
#menu {right: -100%;width:200px;}

#lang a, #menu a {
	color: #d750ff;
	font-weight: bolder;
	text-shadow: 0 0 1px #e41059;
	text-decoration: none;
}
#menu a:hover {
	text-decoration: underline;
}

#lang span {
	color: #402;
}

#lang.show {
	left: 5px;
}
#menu.show {
	right: 5px;
}