/* Estilos de la página */
body {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #111111;
}

/* Estilos de texto y fuentes */
* {
  color: #d7d7d7;
  font-family: 'Ysabeau', sans-serif;
  padding-left: 5px;
  padding-right: 5px;
  scrollbar-width: none;
  scrollbar-color: #d750ff #f4206900;
}

a {
  font-size: 16px;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  color: #d750ff;
}

h2 {
  font-size: 20px;
  padding-left: 0.5rem;
}

h3 {
  font-size: 12px;
  padding-left: 0.5rem;
}

p {
  font-size: 16px;
}

iframe {
  position: relative;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Estilos de la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 32px;
  background-color: #000;
  border-bottom: 2px solid #d750ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 990;
}

/* Estilos para elementos del encabezado */
#logo, #lang, #menu {
  font-size: 24px;
  font-weight: bold;
  color: #d7d7d7;
}

#logo {
  margin: 0 auto;
  height: 1.9rem;
  cursor: pointer;
}

#lang {
  padding-left: 2%;
  cursor: pointer;
}

#menu {
  padding-right: 2%;
  cursor: pointer;
}

/* Estilos para el menú lateral */
.side-menu {
  position: fixed;
  top: 32px;
  right: -30rem;
  bottom: 0;
  width: 20%;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #000000d7;
  border-left: 3px solid #d750ff;
  display: block;
  overflow-y: auto;
  z-index: 800;
  scrollbar-width: thin;
  scrollbar-color: #d750ff #f4206900;
  transition: all 0.5s ease-in-out;
}

.side-menu a {
  color: #d750ff;
  font-size: 24px;
  cursor: pointer;
  text-decoration: underline;
}

.side-menu.show {
  transition: all 0.5s ease-in-out;
  right: 0;
}

.section {
  display: block;
  margin: 0.5rem;
}

.section a {
  color: #d750ff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para el menú de idiomas */
.lang-menu {
  position: fixed;
  top: 40px;
  left: -21rem;
  width: 160px;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #000000d7;
  border: 2px solid #d750ff;
  border-radius: 10px;
  padding: 0.3rem;
  display: inline;
  z-index: 700;
  transition: all 0.3s ease-in-out;
}

.lang-menu.show {
  transition: all 0.3s ease-in-out;
  left: 1rem;
}

.lang-menu a {
  cursor: pointer;
}

#order {
  position: static;
  padding: 5rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio {
  position: fixed;
  left: -27rem;
  top: 7rem;
  width: 18%;
  height: 400px;
  background-color: #000000d7;
  border: 2px solid #d750ff;
  border-radius: 10px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ff50d7 #f4206900;
  line-height: 1rem;
  transition: all 0.3s ease-in-out;
  z-index: 750;
}

.bio.show {
  transition: all 0.3s ease-in-out;
  left: 1rem;
}

.bio h1 {
  font-size: 20px;
}

.bio p {
  line-height: normal;
}

.content {
  position: absolute;
  top: 32px;
  width: 720px;
  background-color: #00000050;
  border: 3px solid #d750ff;
  padding: 15px;
  overflow: auto;
}

.banner {
  height: 7rem;
  border: 2px solid #d750ff;
  position: relative;
  padding-left: 1rem;
  align-items: center;
}

.banner img {
  position: absolute;
  right: 0;
  height: 7rem;
  padding-right: 1rem;
}

.filter {
  width: 710px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter a {
  font-size: 16px;
  cursor: pointer;
}

.reload {
  position: relative;
  left: 46%;
  font-size: 36px;
  cursor: pointer;
  rotate: 180deg;
}

/* ESTILOS DE ENTRADA */
.caja {
  position: relative;
  display: block;
  padding: 0.5rem;
  padding-top: 1rem;
  margin-bottom: 3px;
  line-height: 0.1rem;
  background-color: #000000d7;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.caja:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.03);
}

.caja h2, h3 {
  display: inline;
}