:root {
	--blog-color: #d750ff;
	--blog-color-comp: #ff50d7;
	--blog-color-dark: #8900b3;
}

html {
	scrollbar-color: var(--blog-color) #000;
}

body {
	background: url(/res/bodyBackground.jpg);
	margin: 0;
	min-height:100vh;
}

* {
	color: var(--blog-color);
	font-family: "Ysabeau";
}

a {
	text-decoration: none;
	cursor: pointer;
}

.kr {font-family: "Sawarabi Gothic";}
.jp {font-family: "Hahmlet";}
.cn {font-family: "zcoolxiaoWei";}

/* CONTENT ----------------------------------------------------- */

#screen-selector {
	position: fixed;
	position-anchor: --navBar;
	anchor-name: --selector;
	top: anchor(bottom);
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	backdrop-filter: brightness(0.5);
	z-index: 700;
}

#screen-selector a {
	font-family: monospace;
	font-size: 1.2rem;
	width: 100%; 
	height: 100%;
	padding: 3px;
	text-align: center;
	cursor: pointer;
}

.current-screen {
	color: #fff;
	background-color: var(--blog-color-dark);
}

main {
	margin-top: 4rem;
}

iframe {
	border: none;
	border-radius: 16px;
}

/* LIVE ------------------------------------------------------------- */

#live-log {
	display: none;
	flex-direction: column-reverse;
	height: calc(100vh - 4rem);
	overflow: auto;
	scrollbar-color: var(--blog-color) #00000000;
}
#live-log.flex {display: flex;}
@media (max-width: 720px) {
	#live-log {height: calc(100vh - 8rem);}
}

#live-log:last-child {
	margin-bottom: 1rem;
}

#live-log > div {
	width: fit-content;
	max-width: 360px;
	margin-inline: 0.5rem;
	padding-inline: 10px;
	padding-block: 5px;
}

#live-log a {
	color: #f42069;
}

.log-bottom {
	margin-top: 0.5rem;
	margin-bottom: 0.1rem;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.log-top {
	display: flex;
	flex-direction: column;
	margin-top: 0.2rem;
	align-items: end;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.log-top > small {
	transform: translateX(-10px);
}

#live-log > div > small {
	color: #000000ab;
	font-family: monospace;
	margin-left: 10px;
	cursor: default;
}

.live-message {
	background-color: var(--blog-color);
	/*background-color: var(--blog-color-comp);*/
}
.live-message span {color: white;}


.live-action {
	background-color: aliceblue;
}
.live-action span {color: black; font-style: italic; font-weight: bold;}
.live-action a {font-weight: bold;}
.live-action a:hover {text-decoration: underline;}


.live-photo {
	padding: 15px !important;
	background-color: var(--blog-color);
}
.live-photo img {
	max-width: 100%;
	max-height: 400px;
	border-radius: 6px;
}

.live-iframe {
	padding: 15px !important;
	background-color: var(--blog-color);
}

.live-audio {
	background-color: var(--blog-color);
}

.live-video {
	padding: 15px !important;
	background-color: var(--blog-color);
}
.live-video video {
	max-width: 100%;
	max-height: 400px;
	border-radius: 6px;
}

audio {height: 2rem; filter: invert();}
video {overflow: auto;}

video::-webkit-media-controls-panel {
	background: none !important;
	filter: invert();
}

video::-webkit-media-controls-play-button {
	display: flex;
}

audio::-webkit-media-controls-panel {background-color: #28af00;}
audio::-webkit-media-controls-enclosure {border-radius: 0;}
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display {
	font-family: monospace;
	font-size: 12px;
	text-shadow: none;
}

video::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline-container {
	padding: 0;
	background-color: #28af00;
	background-clip: content-box;
}
video::-webkit-media-controls-current-time-display, video::-webkit-media-controls-time-remaining-display {
	font-family: monospace;
	font-size: 12px;
}


/*video::-webkit-media-controls-play-button {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-pause-button {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-rewind-button {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-fast-forward-button {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-timeline {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-timeline-container {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-volume-slider {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-volume-slider-container {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-mute-button1 {background-color: var(--blog-color);background-clip: content-box;}
video::-webkit-media-controls-fullscreen-button {background-color: var(--blog-color);background-clip: content-bo*/x;}


/* ARTICLES --------------------------------------------------------- */

#articles {
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	padding: 2rem;
	scrollbar-color: var(--blog-color) #00000000;
}
#articles.grid {display: grid;}

@media (max-width: 960px) {#articles {grid-template-columns: 1fr 1fr;}}
@media (max-width: 640px) {#articles {grid-template-columns: 1fr;}}

#articles a {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	border-radius: 1rem;
	background-color: #d750ff44;
	text-decoration: none;
	transition: all 0.2s ease;
}
#articles a:hover {
	background-color: #d750ff88;
}

#articles a img {
	width: 70%;
	aspect-ratio: 7/4;
	margin-top: 1rem;
	object-fit: cover;
	object-position: top;
}

#articles a span {
	color: #fff;
	margin-inline: 1rem;
	text-align: center;
}

/* ARTICLES --------------------------------------------------------- */

#blog-posts {
	display: none;
	flex-direction: column;
	gap: 1rem;
	max-width: 768px;
	padding: 1rem;
	backdrop-filter: brightness(0.5);
	align-items: center;
}
#blog-posts.flx {display: flex;}

#blog-posts a {
	width: 80%;
	max-width: 720px;
	padding: 1rem;
	border-radius: 1rem;
	transition: all 0.1s ease;
}
#blog-posts a:hover {
	background-color: #00000044;
}

#blog-posts a > span {
	font-size: 1.5rem;
	font-weight: bold;
}

#blog-posts a > p {
	margin: 0;
}

#blog-posts div {
	display: flex;
	width: 100%;
	justify-content: space-between;
}