body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  cursor: pointer;
  user-select: none;
}

.hr {
  color: #d750ff;
  font-size: 1.2rem;
  display: flex;
  width: 90%;
  justify-content: center;
}
@media (max-width: 768px) {
  .hr  {
    font-size: 1rem;
  }
}

.bio {
  position: fixed;
  top: 64px;
  width: 80%;
  height: 70vh;
  max-width: 400px;
  background-color: #202020cc;
  border-radius: 15px;
  transform: translateY(-150%);
  transition: 0.5s all ease;
  overflow: hidden;
}
.bio.move {
  transform: translateY(0);
}
.bio h1 {
  display: flex;
  padding-inline: 2rem;
  justify-content: space-between;
}
.bio h1 a {
  color: #d750ff;
}
.bio div {
  line-height: 1rem;
  text-align: justify;
  width: 90%;
  height: 80%;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  overflow: scroll;
  scrollbar-width: none;
  scrollbar-color: #d750ff #000;
}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 512px;
  padding-top: 52px;
  justify-content: center;
  overflow-x: hidden;
  background-color: #202020cc;
}

main section {
  width: 90%;
}

header {
  width: 100%;
  display: block;
}
header * {
  color: #d750ff;
  line-height: 1rem;
  padding-left: 1rem;
}
header h1 {
  font-size: 1.2em;
}
header h2 {
  font-size: 1.1em;
}

.filter {
  display: flex;
  justify-content: center;
}
#filter a, #filterS a {
  margin: 2px;
  padding-inline: 2px;
  border-radius: 3px;
}
@media(max-width: 768px) {
  #filter a, #filterS a {
    font-size: 0.9rem;
  }
}
#filter a {border: 1px solid #fff;}
#filterS a {border: 1px solid #888;}
.filter a:hover {background-color: #666;}
.filter a:active {background-color: #999;}
.sep {
  display: flex;
  height: 100%;
  align-content: center;
}
#filterS * {cursor: not-allowed; color:#888;}
.reload {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  margin: 5px;
  justify-content: center;
}
#reloadS {filter: brightness(50%);}

.momos {
  display: flex;
  gap: 2px;
  aspect-ratio: 3/1;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #d750ff #00000000;
}
.momos img {
  max-height: 100%;
}

.caja {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: 2px;
}
.caja * {margin: 0;}
.caja h2 {
  width: 100%;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}
.caja h3 {
  font-size: 1rem;
  width: 40%;
  padding-left: 1.5rem;
}
.caja h4 {
  font-size: 0.8rem;
  display: flex;
  width: 50%;
  justify-content: end;
}
.caja p {
  width: 100%;
  padding-left: 1.5rem;
}

#load {
  display: flex;
  justify-content: center;
}