body {
  background-color: #080008;
}

main {
  margin-bottom: 64px;
}

* {
  color: #d7d7d7;
  font-family: 'Ysabeau', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #d750ff #f4206900;
}

h1 {
  font-size: 24px;
  color: #d7d7d7;
}

h2 {
  font-size: 64px;
	font-family: monospace;
}

h3 {
  font-size: 20px;
  padding-left: 0.5rem;
}

h4 {
  font-size: 32px;
  text-decoration: none;
  color: #d7d7d7;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: #50d7d7;
}

p {
  font-size: 24px;
  padding-left: 1rem;
}

img {
  max-width: 80%;
  max-height: 70vh;
  padding: 1rem;
}

video {
  max-width: 80%;
  max-height: 80%;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

del {
  padding-left: 0.5rem;
  color: #ff0000;
}

code {
  color: #d7d7d7;
  font-family: monospace;
  background-color: #d7d7d711;
  border-radius: 5px;
}

#info, #contenido {
  position: relative;
  border: none;
  padding: 1rem;
  color:#d7d7d7;
}

#info {
  align-items: left;
}

#contenido img {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#list {
  position: static;
  top: 2rem;
  display: block;
}

#p {
  font-family: 'Hahmlet', 'sans-serif';
}


.lang-menu {
  position: fixed;
  bottom: 40px;
  right: 1rem;
  /*width: 20vh;*/
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  background-color: #000000d7;
  padding: 0.3rem;
  display: inline;
  z-index: 700;
}

.lang-menu a {
  color: #d7d7d7;
  font-size: 1.5rem;
  padding-left: 1rem;
  text-decoration: none;
  cursor: pointer;
}
.lang-menu a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .lang-menu a {
    font-size: 1.75rem;
  }
}
@media (max-width: 1024px) {
  .lang-menu a {
    font-size: 2rem;
  }
}


@keyframes superText {
  0% { color: #d750d7 }
  25% { color: #aaa }
  50% { color: #fff }
  75% { color: #aaa }
  100% { color: #d750d7 }
}