body {
  max-width: 1080px;
  background-color: #000000;
}

h2, h3, h4, a, p, li {
  font-family: 'Ysabeau', sans-serif;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 20px;
  padding-left: 0.5rem;
}

h4 {
  font-size: 32px;
  padding-left: 0.5rem;
  text-decoration: none;
  color: #d7d7d7;
}

a {
  font-size: 24px;
  padding-left: 0.5rem;
  text-decoration: none;
  color: #50d7d7;
}

p {
  font-size: 24px;
  padding-left: 1rem;
}

li {
  font-size: 24px;
  bottom: 0.5rem;
  list-style: none;
  color: #d7d7d7;
}

img {
  max-width: 80%;
  max-height: 80%;
  padding: 1rem;
}

video {
  max-width: 80%;
  max-height: 80%;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

#info, #contenido {
  position: relative;
  border: none;
  padding: 1rem;
  color:#d7d7d7;
}

#info {
  align-items: left;
}

#contenido img {
  position: relative;
  display: flex;
  justify-content: space-between;
}

#list {
  position: static;
  top: 2rem;
  display: block;
}

.blog h2 {
  color: #d750ff;
}

.dev h2 {
  color: #5050ff;
}

.niupleis h2 {
  color: #f42069;
}

.pcg h2 {
  color: #ff50d7;
}

.youtube h2 {
  color: #ff5050;
}

.arte h2 {
  color: #ffd7ff;
}

.gaming h2 {
  color: #50d7ff;
}

#p {
  font-family: 'Hahmlet', 'sans-serif';
}

#dic {
  position: absolute;
  padding-bottom: 1rem;
  left: -0.5rem;
}