body {
	margin: 0;
	background-color: #ccc;
	justify-items: center;
}

* {
	color: #040404;
	font-family: "Ysabeau";
}

p {
	font-size: 1.1rem;
}

header {
	display: block;
	width: 90%;
	max-width: 1024px;
	text-align: justify;
}

main {
	width: 90%;
	max-width: 1024px;
	padding: 2rem;
	background-color: #e7e7e7;
	border-radius: 1.5rem;
	text-align: justify;
}

.fake-link {
	color: #00abcc;
	cursor: pointer;
}

.fake-link:hover {
	text-decoration: underline;
}

input, input:focus {
	min-width: 360px;
	margin-bottom: 10px;
	background-color: transparent;
	border: none;
	outline: none;
}

#send:hover {
	filter: invert(1) brightness(0.3);
	cursor: pointer;
}

#k1, #k2, #k3, #k4, #k5, #k6 {
	filter: saturate(0);
	cursor: pointer;
	transition: all 0.1s ease;
}

#k1.koraed, #k2.koraed, #k3.koraed,
#k4.koraed, #k5.koraed, #k6.koraed {
	filter: saturate(1);
}

footer {
	width: 90%;
	max-width: 1024px;
}

footer > div {
	width: fit-content;
	max-width: 512px;
	padding-inline: 1rem;
	padding-block: 0.3rem;
	margin: 10px;
	background-color: #e7e7e7;
	border-radius: 10px;
}